.login{
    position: relative;
    height: 100%;
    background: url("https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg") center no-repeat;
    background-size: cover;
}

.loginLogo{
    position: fixed;
    left: 0;
    color: #E50914;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
}

.loginBtn{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #E50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.loginGradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}

.loginBody{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
}

.loginBody > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginBody > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.loginBody > h3{
    font-size: 1.3rem;
    font-weight: 400;

}

.loginInput{
    margin-top: 20px;
}

.loginInput > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30%;
    width: 30%;
    border: none;
    max-width: 600px;
}

.loginInput > form > button{
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #E50914;
    border: none;
    cursor: pointer;
}